*{
    margin:0;
    padding: 0;
}

h1, h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin-top: 20px;
    margin-right: 20px;
}

h2{
    font-size: 120%;
}

.header{
    text-align: right;
    padding-right: 60px;

}


.button{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    transition: .5s;
    border: 2px solid #e7e7e7;
}
.button:hover{
    background-position: right center;
}

.site_content{
    width: 1400px;
    margin: 60px auto 0 auto;
    background-color: white;
}

.right_content{
    float:right;
    text-align: left;
    width: 75%;


}

.left_content {
    float: left;
    width: 25%;

}

.contact_info_block{
    padding-top: 20px;
}

.profile{
    width: 75%;
}

.profile_block {
    text-align: left;
    float: right;
}



.ability_1{
    border-radius: 15px;
    border: 3px solid #5a74c7;
    width: 300px;
    height: 180px;


}

.ability_2{
    border-radius: 15px;
    border: 3px solid #5a74c7;
    width: 300px;
    height: 180px;
    margin-left:400px;
}

.ability_3{
    border-radius: 15px;
    border: 3px solid #5a74c7;
    width: 300px;
    height: 180px;
    margin-top: 70px;

}

.ability_4{
    border-radius: 15px;
    border: 3px solid #5a74c7;
    width: 300px;
    height: 180px;
    margin-left:400px;

}


.avatar_block{
    margin-right: 20px;
}


.parent{
    display: flex;
    flex-direction: column;
    text-align: center;
}






